
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 33% 98%;
    --foreground: 0 0% 12%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12%;

    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 12%;

    --secondary: 60 20% 96%;
    --secondary-foreground: 0 0% 12%;

    --muted: 60 20% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 45 100% 80%;
    --accent-foreground: 0 0% 12%;

    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 45 100% 60%;
    --input: 45 100% 80%;
    --ring: 45 100% 50%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 45 100% 96%;

    --card: 0 0% 16%;
    --card-foreground: 45 100% 96%;

    --popover: 0 0% 16%;
    --popover-foreground: 45 100% 96%;

    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 12%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 45 100% 96%;

    --muted: 0 0% 20%;
    --muted-foreground: 45 80% 80%;

    --accent: 45 100% 40%;
    --accent-foreground: 0 0% 12%;

    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 45 100% 40%;
    --input: 0 0% 20%;
    --ring: 45 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  /* Customizing scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500 rounded-full transition-colors;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-700;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 dark:bg-black/80 backdrop-blur-md border border-amber-400/40 dark:border-amber-400/20;
  }
}
